* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header and nav  */
nav {
    position: absolute;
    width: 525px;
    left: 845px;
    top: 216px;
    top: 116px;
    font-weight: 75px;
    font-size: 35px;
    text-align: right;

}

.header {
    width: 1600px;
    height: 809px;
    padding-bottom: 300px;
}


#nav header {
    color: blueviolet;
    font-size: 60px;
    font-weight: 600px;
}

#btn {
    border: 0px;
    padding: 16px;
    color: aliceblue;
    background-color: seagreen
}

/* main  */
.main header {
    position: absolute;
    width: 1072px;
    height: 723.3px;
    left: 206px;
    top: 939px;
}


.section h1 {
    font-weight: 700;
    font-size: 40px;
    position: absolute;
    width: 288px;
    height: 94px;
    left: 762px;
    top: 1108px;

}

.section p {
    position: absolute;
    width: 416px;
    height: 104px;
    left: 762px;
    top: 1250px;
    font-size: 26px;
    color: crimson;

}

.section ol {
    position: absolute;
    width: 400px;
    height: 90px;
    left: 770px;
    top: 1478px;
    font-size: 25px;
    color: blue;
}

/* My plan */
.Myplan {
    text-align: center;
    margin-top: 230px;
    max-width: 1141px;
    margin-left: 190px;
}

.Myplan h2 {

    font-weight: 700px;
    font-size: 40px;
    line-height: 47px;
   
    /* margin-left: 200px; */

}

.plan-container {
    display: flex;
    gap: 100px;
    margin-top: 100px;
}

.plan-title {
    font-weight: 700px;
    font-size: 40px
}


.plan-description {
    font-size: 20px;

}

/* positive mindset */
.mindset {
    max-width: 1141px;
    background-image: url(../images/gradient1.png),
        url(../images/watch.png);
    background-size: cover;
    padding-right: 100px;
    padding-bottom: 100px;
    margin-left: 150px;
    margin-top: 250px;
    width: 1140px;
    height: 300px;
}

.mindset-title {
    position: absolute;
    width: 459px;
    height: 94px;
    left: 294px;
    top: 2820px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

}

.Callme {
    color: black;
    background-color: seagreen;
    padding: 30px, 30px;
    width: 160px;
    height: 64px;
    font-size: 26px;
    position: absolute;
    top: 2950px;
    left: 300px;
    border: none;
}

/* contac style */
.contact {
    display: flex;
    gap: 150px;
    background: #151414;
    padding: 130px;
    margin-top: 100px;
    /* width: 100%; */
}

.contact .section-title {
    text-align: left;
    color: #F8F8F8;
    width: 100%;
}

.footer {
    color: #F8F8F8;
}

.btn-subscribe {
    color: #151414;
    background-color: seagreen;
   margin: 40px -70px 105px ;
    position: absolute;
    width: 60px;
    height: 40px;
   
}
.contact a{
    text-decoration: none;
}